
// Import Variables, Fonts and Mixins
@import "variables";
@import "mixins";



// Phones
@media (max-width: 480px) {
    body{
        background-color: red;
    }
    
}

// Tablets
@media (min-width: 481px) {
    body{
        background-color: orange;
    }
    
}

// Desktops and above
@media (min-width: 768px) {
  body {
    padding: 0px 40px 0px 40px;
    margin: 0;
    background-color: wheat;
  }

  

  /* --- Home Page Pillars --- */
  .container {

    display: flex;
    height: 65vh;
    justify-content: center;
    flex-wrap: wrap;

    .card {
      background-color: salmon;
      color: white;

      margin: 0 1.5vw 0 1.5vw;
      //   padding: 15px;
      //width: 12%;
      min-width: 15%;
      width: 18%;
      border-radius: 10px;

      outline: 2px solid $borderColour;
      outline-offset: 5px;

      text-align: center;
      font-family: $h1Font;
      text-decoration: none;
      font-size: 1.2vw;

    /* --- Title text that slides in when the Card container is hovered over --- */
      .slideText {
        display: none;
        background-color: $borderColour;
        height: 20%;
        border-radius: 0 0 10px 10px;
        
        h1 {
          margin: -10%;
        }

        
      }

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

  }


}

// General CSS 

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-decoration: none;

    height: 18vh;

    a {
      text-decoration: none;
      font-family: $h1Font;
      font-weight: 700;
      font-size: 10vh;
      letter-spacing: -0.07em;
      color: $mainColour;
    }

    nav {
      a {
        padding: 10px;
        text-decoration: none;
        font-size: 1.4em;
        letter-spacing: 0em;
        font-weight: 500;
        color: $borderColour;
        font-family: $mainFont;
      }
    }
  }
  
#designCard {
    @include setBackgroundImage("./images/ph_design.jpg");
  }

  #coderCard {
    @include setBackgroundImage("./images/ph_code.jpg");
  }

  #blogCard {
    @include setBackgroundImage("./images/ph_blog.jpg");
  }

  #aboutCard {
    @include setBackgroundImage("./images/ph_person.jpg");
  }

  footer {
    bottom: 0px;
    margin-top: 30px;
    margin-left: -40px;
    width: 100vw;

    height: 10vh;
    text-align: center;
    background-color: black;
    color: wheat;
    font-family: $mainFont;

    p {
      padding-top: 15px;
    }
  }

  /* --- Animations imported at the end of the code --- */
  @import "animations";
