@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&family=Raleway:wght@400;500;700&display=swap");
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  height: 22vh;
  padding-top: 5vh;
}

header .pageTitle {
  text-decoration: none;
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 10vh;
  text-align: center;
  line-height: 90%;
  letter-spacing: -0.07em;
  color: #ff255b;
}

header nav {
  margin-top: 3vh;
}

header nav a {
  padding: 5px;
  text-decoration: none;
  font-size: 1.1em;
  letter-spacing: 0em;
  font-weight: 500;
  color: #313131;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: wheat;
  margin: 0;
  height: 100%;
}

#designCard {
  background-image: url("./images/ph_design.jpg");
  background-size: cover;
  background-position: center;
}

#coderCard {
  background-image: url("./images/ph_code.jpg");
  background-size: cover;
  background-position: center;
}

#blogCard {
  background-image: url("./images/ph_blog.jpg");
  background-size: cover;
  background-position: center;
}

#aboutCard {
  background-image: url("./images/ph_person.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2vh;
}

.container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 30vh;
  margin-bottom: 5vh;
  width: 90%;
  border-radius: 10px;
  background-color: #ff255b;
  color: white;
  outline: 3px solid #313131;
  outline-offset: 5px;
  text-decoration: none;
}

.container .card .slideText {
  background-color: #313131;
  height: 25%;
  border-radius: 0 0 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: "Fraunces", serif;
  font-size: 1.2em;
}

.container .card .slideText h1,
.container .card .slideText h3 {
  padding: 0 4px 0 4px;
}

footer {
  height: 10vh;
  text-align: center;
  background-color: black;
  color: wheat;
  font-family: "Raleway", sans-serif;
}

footer p {
  padding-top: 15px;
}

.blogPost {
  width: 75%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 6vh;
  padding: 8px;
  border-radius: 10px;
  outline: 2px solid #313131;
  outline-offset: 5px;
}

.blogPost .postImage {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogPost .postImage img, .blogPost .postImage video {
  width: 100%;
}

.blogPost .postText h1,
.blogPost .postText h4 {
  margin: 5px 0 5px 0;
  font-family: "Fraunces", serif;
}

.blogPost .postText p {
  font-family: "Raleway", sans-serif;
  font-size: 0.8em;
  margin-top: 0;
  text-align: justify;
}

@media (min-width: 481px) {
  .container .card {
    height: 35vh;
    width: 80%;
    outline: 3px solid #313131;
    outline-offset: 5px;
  }
  .container .card .slideText {
    font-size: 1.1em;
  }
  .container .card .slideText h1,
  .container .card .slideText h3 {
    padding: 0 2px 0 2px;
  }
  #blogContainer {
    margin-top: -5vh;
  }
  #blogContainer .blogPost .postImage {
    height: 55vh;
  }
  #blogContainer .blogPost .postImage img, #blogContainer .blogPost .postImage video {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #blogContainer .blogPost .postText {
    height: 100%;
    font-size: 1em;
  }
}

@media (min-width: 1024px) {
  header .pageTitle {
    font-size: 12vh;
  }
  .container .card {
    margin: 1.5vw;
    height: 65vh;
    min-width: 15%;
    width: 18%;
    /* --- Title text that slides in when the Card container is hovered over --- */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .container .card .slideText {
    display: none;
    height: 25%;
    font-size: 1.2em;
  }
  .container .card .slideText h3 {
    margin-top: 5%;
  }
  .container .card .slideText h1 {
    margin-top: -15%;
  }
  #blogContainer {
    margin-top: -5vh;
  }
  #blogContainer .blogPost {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  #blogContainer .blogPost .postImage {
    height: auto;
    width: 48%;
  }
  #blogContainer .blogPost .postImage img, #blogContainer .blogPost .postImage video {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  #blogContainer .blogPost .postText {
    width: 48%;
    font-size: 1em;
  }
}

@media (min-width: 1440px) {
  header nav a {
    padding: 15px;
    text-decoration: none;
    font-size: 1.6em;
  }
  .container .card {
    margin: 1.5vw;
    height: 65vh;
    min-width: 15%;
    width: 18%;
  }
  .container .card .slideText {
    display: none;
    height: 25%;
    font-size: 1.8em;
  }
  .container .card .slideText h1 {
    margin-top: -2.5vh;
  }
  #blogContainer {
    margin-top: -5vh;
  }
  #blogContainer .blogPost {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 25px;
  }
  #blogContainer .blogPost .postImage {
    height: auto;
    width: 30%;
  }
  #blogContainer .blogPost .postText {
    width: 68%;
    font-size: 1.8em;
  }
}

/* --- Animations imported at the end of the code --- */
@media (min-width: 1024px) {
  .card:hover {
    outline-color: #ff255b;
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
    /* --- Show Card text on hover --- */
  }
  .card:hover .slideText {
    display: block;
    /* Entry Animation */
    -webkit-animation-name: slideTextUp;
            animation-name: slideTextUp;
    -webkit-animation-timing-function: 0.4s ease-out;
            animation-timing-function: 0.4s ease-out;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
    background-color: #ff255b;
  }
}

/* --- Entry Animation for the Card Text --- */
@-webkit-keyframes slideTextUp {
  0% {
    opacity: 0;
    height: 0%;
    background-color: #313131;
  }
  100% {
    opacity: 1;
    height: 25%;
    background-color: #ff255b;
  }
}
@keyframes slideTextUp {
  0% {
    opacity: 0;
    height: 0%;
    background-color: #313131;
  }
  100% {
    opacity: 1;
    height: 25%;
    background-color: #ff255b;
  }
}
/*# sourceMappingURL=style.css.map */